@import "compass/reset";

$UI_WIDTH: 10rem;
$UI_TAB_WIDTH: 1rem;

body {
	background: rgba(0, 0, 0, 0.5);
}

.hidden { display: none; }

.tray {
}

.ui {
	-webkit-transform: scale(1);
	box-sizing: border-box;
	width: $UI_WIDTH;
	background: white;
	border-radius: 1px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
	left: -1 * ($UI_WIDTH - $UI_TAB_WIDTH);
	line-height: 1.7;
	margin: 0;
	padding: 1.5rem;
	top: 0;
	transition: left 200ms ease;
	&.open, &:hover { left: 0; }
}

.logo h1 {
	font-family: monospace;
	font-size: 2em;
	line-height: 1.7;
	width: 3rem;
	height: 3rem;
}

#graph {
	padding: 1rem;
	overflow:visible;
	.row {
		border: 1px solid green;
		padding: 1rem;
		&.current {
			height: auto;
		}
	}
}

.graph {
	float: left;
	.image-node {
		display: block;
		clear: both;
	}
}

.tools {
}

.tool {
	border: 0.1rem solid green;
	border-top: none;
	&:first-child {
		border-top: 0.1rem solid green;
	}
}

.tool-link {
	border-radius: 0;
	display: block;
	font-family: monospace;
	font-size: 0.8rem;
	margin: 0;
	padding: 0.25rem;
	text-decoration: none;
	&:hover {
		cursor: pointer;
	}
}

.image-node {
	border: 2px solid blue;
	-webkit-transform: scale(0.8);
	&.current {
		border: 2px solid red;
		-webkit-transform: scale(1);
	}
}
