@import "compass/reset";

body {
	margin: 0;
	padding: 0;
	background: rgba(0, 0, 0, 0.5);
}

.tray {
	position: relative;
	left: -100px;
}

#ui {
	background: white;
	border-radius: 1px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
	left: 0;
	line-height: 1.7;
	margin: 0;
	padding: 1.5rem;
	position: fixed;
	text-align: center;
	text-transform: lower-case;
	top: 0;
}

#logo h1 {
	font-family: monospace;
	font-size: 2em;
	line-height: 1.7;
	width: 3rem;
	height: 3rem;
}

#file-picker {
}

#main {
	display: block;
}

table {
}
